footer {
  padding: 30px 0;
  background: #fff;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  .footer-container{
    max-width: 840px;
    margin: 0 auto;
    &:after{
      display: block;
      content: '';
      clear: both;
    }
    p{
      margin-bottom: 0;
    }
    .float-left{
      width: 48%;
      margin-right: 4%;
      &.last{
        margin-right: 0;
      }
      h2{
        font-size: 14px;
        color: #999;
        margin-bottom: 0.6em;
        text-shadow: none;
      }
      a {
        color: black;
        text-decoration: underline;
      }
      @include breakpoint(max-width 768px){
          float: none;
          width: 100%;
          text-align: center;
          p {
            margin-bottom: 10px;
          }
      }
    }
    @include breakpoint(max-width 840px){
      padding: 0 15px;
    }
  }
}
