.header-image{
  background: url('/images/desk2.jpg') center center;
  background-size: cover;
  text-align: center;
  position: relative;
  top: 0;
  height: 100vh;
  .text-container{
    position: absolute;
    top: 50%;
    right: 50%;
    -webkit-transform: translate(50%, -60%);
    -moz-transform: translate(50, -60%);
    -ms-transform: translate(50%, -60%);
    -o-transform: translate(50%, -60%);
    transform: translate(50%, -60%);
    margin: 0;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    max-width: 580px;
    text-align: center;
    h1{
      margin-bottom: 10px;
    }
    h2 {
      margin-bottom: 10px;
    }
  }
}

.aboutme{
 padding: 30px 0;
 @include breakpoint(max-width 580px){
   padding: 30px 15px;
 }
 p{
   span{
    font-size: 60px;
    line-height: 75px;
   }
   b{
    text-transform: uppercase;
    font-weight: 700;
   }
   a{
     color: #000;
     font-weight: 700;
     text-decoration: underline;
   }
 }
}


.profPicContainer{
  width: 260px;
  height: 260px;
  perspective: 800px;
  position: relative;
  margin: 0 auto;
}
#card {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 1.5s;
  border-radius: 50%;
  &.flipped {
    transform: rotateY( 180deg );
  }
  .profPic {
    border-radius: 50%;
  }
  img {
    margin: 0;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    &.back {
      transform: rotateY( 180deg );
    }
  }
}
