.workComponent{
  .workDescription{
    margin-top: 60px;
    text-align: center;
    h1{
      margin-bottom: 30px;
      color: black;
      text-shadow: none;
    }
  }
  .work-container{
    max-width: 1300px;
    margin: 0 auto;
    &:after{
      display: block;
      content: "";
      clear: both;
    }
    @include breakpoint(max-width 1024px){
      padding: 0 15px;
    }
    .row{
      .imageContainer{
        margin-bottom: 90px;
        padding: 15px;
        outline-color: #3d4352;
        outline-width: 1px;
        box-shadow: 0 0 6px 0 rgba(0,0,0,0.09);
        border: 1px solid #d4d6dc;
        border-radius: 4px;
        padding: 0;
        overflow: hidden;
        &:hover{
          -moz-box-shadow: 0 0 5px rgba(0,0,0,0.5);
          -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.5);
          box-shadow: 0 0 3px rgba(0,0,0,0.5);
          transform: scale(1.003);
        }
      }
      p {
        text-align: center;
        border-bottom: 1px solid rgba(0,0,0,.5);
        padding: 10px;
        margin-bottom: 0;
      }
      img{
        width: 100%;
        margin-bottom: -9px;
      }
    }
    @include breakpoint(max-width 900px){
      width: 100%;
      margin: 0 auto;
      .imageContainer{
        max-width: 580px;
        width: 100%;
        margin: 30px auto;
        padding: 0 15px 30px;
      }
    }
  }
}

