.workComponent{
  .workDescription{
    margin-top: 60px;
    text-align: center;
    h1{
      margin-bottom: 30px;
      color: black;
      text-shadow: none;
    }
  }
  .work-container{
    max-width: 1300px;
    margin: 0 auto;
    &:after{
      display: block;
      content: "";
      clear: both;
    }
    @include breakpoint(max-width 1300px){
      padding: 0 30px;
    }
    .row{
      .imageContainer{
        margin-bottom: 90px;
        padding: 15px;
        outline-color: #3d4352;
        outline-width: 1px;
        box-shadow: 0 0 6px 0 rgba(0,0,0,0.09);
        border: 1px solid #d4d6dc;
        border-radius: 4px;
        padding: 0;
        overflow: hidden;
        &:hover{
          -moz-box-shadow: 0 0 5px rgba(0,0,0,0.5);
          -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.5);
          box-shadow: 0 0 1px rgba(0,0,0,0.5);
          transform: scale(1.003);
        }
      }
      p {
        text-align: center;
        border-bottom: 1px solid rgba(0,0,0,.5);
        padding: 10px;
        margin-bottom: 0;
      }
      img{
        width: 100%;
        margin-bottom: -9px;
      }
      @include breakpoint(max-width 900px){
        width: 100%;
        margin: 0 auto;
        .imageContainer{
          max-width: 580px;
          width: 100%;
          margin: 30px auto;
          padding: 0 15px 30px;
        }
      }
    }
  }
}
.clockContainer{
  padding: 30px 0;
  .clock{
    border: 20px solid #fff;
    height: 30rem;
    width: 30rem;
    border-radius: 50%;
    margin: 0 auto;
    position: relative;
    padding: 2rem;
    box-shadow: 0 0 0px 4px rgba(0,0,0,0.1), inset 0 0 0 3px #000, inset 0 0 10px black, 0 0 10px rgba(0,0,0,0.2);
  }
  .clock-face{
    position: relative;
    width: 100%;
    height: 100%;
    transform: translateY(-3px);
  }
  .clock-face:after {
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: black;
    position: absolute;
    top: 48%;
    left: 49%;
    z-index: 9;
    content: "";
    transform: translate(-50%);
  }
  .hand{
    position: absolute;
    width: 6px;
    background: black;
    height: 50%;
    right: 50%;
    bottom: 50%;
    // transform: rotate(90deg);
    //transform-origin: 100%;
    transform-origin: bottom;
    transition: all .05s;
    transition-timing-function: cubic-bezier(0.1, 2.8, 0.58, 1);
  }
}
